.about-header h2 {
  color: white;
}
.about-header p {
  color: rgb(199, 191, 191);
}
.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}
.about-picture img {
  width: 200px;
  border-radius: 10px;
  margin-right: 50px;
}
.about-information {
  color: white;
}
.about-information a {
  background: #fd6f00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 0 10px #fd6f00;
  transition: 0.5s;
}
.about-information button:hover {
  box-shadow: none;
}
.about-content button {
  margin-left: 35%;
}
.about-information button img {
  padding-right: 5px;
}
.about-information p {
  padding: 20px;
  line-height: 2;
}
