.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container h1 {
  color: #fd6f00;
  font-size: 4rem;
  margin-top: 0;
  text-shadow: 0 0 5px #fd6f00;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}
.header-buttons {
  cursor: pointer;
  margin-top: 65px;
}

.header-buttons :nth-child(2) {
  background-color: transparent;
  outline: none;
  color: rgb(199, 191, 191);
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: 1px solid white;
  font-size: 1rem;
  transition: 0.3s ease;
}
.header-buttons :nth-child(2):hover {
  background-color: #fd6f00;
  border: none;
  outline: none;
}
.header-buttons :nth-child(1) {
  transition: 0.5s;
}
.header-buttons :nth-child(1):hover {
  box-shadow: none;
}
.header-container h3 {
  word-wrap: break-word;
  color: rgb(199, 191, 191);
}
.name {
  font-size: 3rem;
  color: white;
  word-wrap: wrap;
  display: block;
  text-shadow: 0 0 5px white;
}
.hire-button {
  margin-right: 25px;
  padding: 10px 40px;
}
.profile-image {
  max-width: 700px;
  max-height: 700px;
  border-radius: 100%;
}
.header-links a {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  margin-right: 10px;
}
.header-links a img {
  width: 30px;
}
